#login {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 0%, #ff0055, #00ffcc);
    -fx-text-fill: white;
    -fx-font-family: "Monospaced Bold";
    -fx-font-size: 12px;
    /*-fx-padding: 10 10 10 10;*/
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

#login:hover {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 0%, #ff3366, #33ffcc);
}

#login:pressed {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 0%, #cc0044, #00cc99);
}
@keyframes fadeInOut {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

#copyright {
    -fx-opacity: .7;
    -fx-animation: fadeInOut 5s infinite;
}

#right_pane{
    -fx-background-color: #007bff;
}


#singUp_link{

}
#home_screen {
     -fx-border-radius: 6px;
     -fx-background-radius: 6px;
     /*-fx-background-color: #000;*/
 }
#search_notification_pane{
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-color: rgba(213, 213, 213, 0.58);
}
#search_box{
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-background-color: rgba(255, 255, 255, 0.93);
    -fx-text-fill: white;
}
#search_button,#filter_button,#google_button,#facebook_button,#github_button {
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-border-radius: 30px;
}
#search_button {
    -fx-background-image: url('LOGOS/search.png');
     -fx-font-size: 12px;
}
#filter_button{
    -fx-background-image: url('LOGOS/filter.png');
    -fx-font-size: 10px;
}
#google_button{
    -fx-background-image: url('LOGOS/google.png');
    -fx-font-size: 10px;
}
#facebook_button{
    -fx-background-image: url('LOGOS/communication.png');
    -fx-font-size: 10px;
}
#github_button{
    -fx-background-image: url('LOGOS/github.png');
    -fx-font-size: 10px;

}
#work_button_pane{
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-background-color: rgb(22, 54, 108);
}

#home_buttons, #search_btn, #rent_button, #profile_button,#massage {
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 10px;
}

/* Specific background images for each button */
#home_buttons {
    -fx-background-image: url('LOGOS/home.png');
}

#search_btn {
    -fx-background-image: url('LOGOS/search.png');
}

#rent_button {
    -fx-background-image: url('LOGOS/car-rent.png');
}

#profile_button {
    -fx-background-image: url('LOGOS/profile.png');
}
#massage {
    -fx-background-image: url('LOGOS/massage_box.png');
}
#home_pages_view{
    -fx-background-color: rgba(213, 213, 213, 0.58);
    -fx-border-radius: 7px;
    -fx-background-radius: 7px;
}



/*   un Wanted   */

.button {
    /*-fx-background-color: #F2F2F2;*/
    /*-fx-background-radius: 30;*/
    -fx-font-size: 13;
}

.label {
    -fx-font-family: 'Arial';
}

VBox {
    -fx-padding: 15;
}

AnchorPane {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-padding: 15;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0, 0, 5);
}

#bvbox {
    -fx-background-image: url('Photos/bc.jpg');

}


/* General Styling */

.nav_bar {
    -fx-background-color: #2e133a;
    -fx-background-radius: 10px;
    /*-fx-border-radius: 2%;*/
}

/* Styles for the Buttons */
.home_btn,.frn_btn , .setting_btn,.rnt_btn,.noti_btn,.map_btn {
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
    -fx-border-radius: 10px;
    -fx-background-color: #2e133a;
}
.home_btn {
    -fx-background-image: url('Icons/home-32.png');
}.map_btn {
    -fx-background-image: url('Icons/map-32.png');
}.noti_btn {
    -fx-background-image: url('Icons/notification-32.png');
}
.rnt_btn {
    -fx-background-image: url('Icons/garage-32.png');
}
.frn_btn {
    -fx-background-image: url('Icons/collaboration-50.png');
}

 .cell1,.cell2,.cell3,.cell4 {
     -fx-background-radius: 10px;
     -fx-pref-width: 135px;
     -fx-pref-height: 120px;
 }
 .cell1{
     -fx-background-color: #e9d7ff;
 } .cell2{
     -fx-background-color: #d9eeff;
 }.cell3{
     -fx-background-color: #ffe28a;
 }.cell4{
     -fx-background-color: #ffd3ce;
 }
.eb1,.eb2,.eb3,.eb4{
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-pref-width: 35px;
    -fx-pref-height: 35px;
    /*-fx-border-radius: 10px;*/
    /*-fx-background-color: #2e133a;*/
}
.eb1{
    -fx-background-image: url('Icons/garage-48.png');
}.eb2{
    -fx-background-image: url('Icons/notification-50.png');
}.eb3{
    -fx-background-image: url('Icons/money-64.png');
}.eb4{
    -fx-background-image: url('Icons/history64.png');
}
 .epn1,.epn2,.epn3,.epn4{
     -fx-border-color: #111;
     -fx-border-width: 2px;
     -fx-border-radius: 5px;
     -fx-text-fill: #333333;
 }
#hover_pane {
    -fx-background-color: #ffffff;
    -fx-border-color: #000000;
    -fx-border-width: 1px;
    -fx-background-radius: 5px;
}
.adding1{
    -fx-background-image: url('Icons/repairing-64.png');
}
.se_butt{
    -fx-background-image: url('Icons/search-48.png');
    -fx-background-radius: 30px;
}
.filter{
    -fx-background-image: url('Icons/filter-50.png');
    -fx-pref-width: 28px;
    -fx-pref-height: 28px;
    -fx-background-color: #fdfeff;
    -fx-background-radius: 5%;
    -fx-padding: 2;
    /*-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0, 0, 2);*/
    -fx-cursor: hand;
}
.filter:hover {
    -fx-background-color: #2980b9;
}
.se_box {
    -fx-background-color: #ffffff;
    -fx-background-radius: 15;
    -fx-padding: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0, 0, 2);
    -fx-border-color: #d1d1d1;
    -fx-border-radius: 15;
    -fx-border-width: 1;
}

.se_box:hover {
    -fx-background-color: #f9f9f9;
    -fx-border-color: #b0b0b0;
}
.arrow_btn{
    -fx-background-image: url('Icons/arrow-48.png');
    -fx-background-color:  #e9d7ff;
    -fx-pref-width: 24px;
    -fx-pref-height: 18px;
    /*-fx-padding: 10;*/
}
.arrow_btn:hover{
    -fx-border-width: 1;
}
.map_view{
    -fx-background-radius: 5%;
    -fx-border-radius: 5;
    -fx-border-width: 1;
}

.prof_image{
    -fx-background-radius: 10px;
        -fx-border-radius: 50%;
        -fx-border-width: 2px;
        -fx-border-color: black;
}